Repository Koniverse/SubWallet-Extension, pull requests merged in 2022-10, with the labels that each got.

#694 [Issue 679] Support USDt on Statemint, Moonbeam, Astar
  packages/extension-koni-base/src/api/dotsama/balance.ts
  packages/extension-koni-base/src/api/dotsama/registry.ts
  packages/extension-koni-base/src/api/dotsama/transfer.ts
  packages/extension-koni-base/src/api/predefineChainTokens.ts
  packages/extension-koni-base/src/api/xcm/utils.ts
  packages/extension-koni-ui/src/hooks/store/useSetupChainRegistry.ts
Labels: extension, integration

#701 [Issue 697] Update network metadata
  packages/extension-koni-base/src/api/predefinedNetworks.ts
Labels: enhancement, extension

#708 [Issue 706] Add raw fee info to staking functions
  packages/extension-base/src/background/KoniTypes.ts
  packages/extension-koni-base/src/api/bonding/astar.ts
  packages/extension-koni-base/src/api/bonding/paraChain.ts
  packages/extension-koni-base/src/api/bonding/relayChain.ts
Labels: enhancement, extension

#711 [Issue 710] Add default option in case no information of parachain inflation
  packages/extension-koni-base/src/api/bonding/paraChain.ts
  packages/extension-koni-base/src/api/bonding/utils.ts
Labels: bug, extension

#712 [Issue 710] Add default option in case no information of parachain inflation
  packages/extension-koni-base/src/api/bonding/paraChain.ts
Labels: bug, extension

#713 [issue-705] Fix bug cannot update Crowdloan status
  packages/extension-koni-base/src/api/predefinedNetworks.ts
  packages/extension-koni-base/src/background/handlers/State.ts
  packages/extension-koni-base/src/background/subscription.ts
Labels: bug, extension

#715 [issue-705] predefine metadata for Polkadot & Kusama chains
  packages/extension-koni-base/src/background/handlers/State.ts
Labels: enhancement

#741 [Issue 635] Support PSP tokens and ERC tokens for pure EVM chain
  packages/extension-koni-base/src/api/dotsama/balance.ts
  packages/extension-koni-base/src/api/dotsama/registry.ts
  packages/extension-koni-base/src/api/nft/wasm_nft/index.ts
  packages/extension-koni-base/src/api/nft/wasm_nft/utils.ts
  packages/extension-koni-base/src/api/predefinedNetworks.ts
  packages/extension-koni-base/src/api/tokens/evm/utils.ts
  packages/extension-koni-base/src/api/tokens/index.ts
  packages/extension-koni-base/src/api/tokens/wasm/defaultWasmToken.ts
  packages/extension-koni-base/src/api/tokens/wasm/utils.ts
  packages/extension-koni-base/src/background/handlers/Extension.ts
  packages/extension-koni-base/src/background/handlers/State.ts
  packages/extension-koni-base/src/constants.ts
  packages/extension-koni-base/src/migration/scripts/ChangeRouteToHome.ts
  packages/extension-koni-base/src/migration/scripts/index.ts
  packages/extension-koni-ui/src/Popup/ImportToken/ImportNft.tsx
  packages/extension-koni-ui/src/Popup/ImportToken/ImportToken.tsx
  packages/extension-koni-ui/src/Popup/Settings/TokenSetting/CustomTokenSetting.tsx
  packages/extension-koni-ui/src/hooks/store/useSetupCustomToken.ts
Labels: enhancement, extension

#744 [Issue 742] Support transfer for PSP tokens
  packages/extension-base/src/background/KoniTypes.ts
  packages/extension-koni-base/src/api/dotsama/transfer.ts
  packages/extension-koni-base/src/api/nft/evm_nft/index.ts
  packages/extension-koni-base/src/api/nft/transfer.ts
  packages/extension-koni-base/src/api/nft/wasm_nft/index.ts
  packages/extension-koni-base/src/api/predefinedNetworks.ts
  packages/extension-koni-base/src/api/tokens/evm/transfer.ts
  packages/extension-koni-base/src/api/tokens/wasm/defaultWasmToken.ts
  packages/extension-koni-base/src/api/tokens/wasm/index.ts
  packages/extension-koni-base/src/background/handlers/Extension.ts
  packages/extension-koni-ui/src/Popup/Home/Nfts/api/paramsHandler.ts
  packages/extension-koni-ui/src/Popup/Home/Nfts/api/transferHandler.ts
  packages/extension-koni-ui/src/Popup/Home/Nfts/render/NftCollection.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/render/NftCollectionPreview.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/render/NftContainer.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/render/NftItem.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/render/NftItemPreview.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/transfer/AuthTransfer.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/transfer/TransferNftContainer.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/utils.ts
  packages/extension-koni-ui/src/hooks/screen/home/types.ts
  packages/extension-koni-ui/src/hooks/screen/home/useFetchNft.ts
  packages/extension-koni-ui/src/hooks/screen/home/useFetchNftTransferExtra.ts
  packages/extension-koni-ui/src/hooks/store/useSetupChainRegistry.ts
  packages/extension-koni-ui/src/hooks/store/useSetupCustomToken.ts
  packages/extension-koni-ui/src/messaging.ts
Labels: extension, integration

#693 [Issue 684] Support transfer/XCM for Statemint
  packages/extension-koni-base/src/api/dotsama/transfer.ts
  packages/extension-koni-base/src/api/predefinedNetworks.ts
  packages/extension-koni-base/src/api/xcm/astar.ts
  packages/extension-koni-base/src/api/xcm/index.ts
  packages/extension-koni-base/src/api/xcm/statemintXcm.ts
  packages/extension-koni-base/src/api/xcm/substrateXcm.ts
  packages/extension-koni-base/src/api/xcm/utils.ts
Labels: extension, integration

#756 [Issue 719] Update inflation calculation for staking
  packages/extension-koni-base/src/api/bonding/darwinia.ts
  packages/extension-koni-base/src/api/bonding/index.ts
  packages/extension-koni-base/src/api/bonding/paraChain.ts
  packages/extension-koni-base/src/api/bonding/relayChain.ts
  packages/extension-koni-base/src/api/bonding/utils.ts
  packages/extension-koni-base/src/api/dotsama/external/stake.ts
  packages/extension-koni-base/src/api/predefinedNetworks.ts
  packages/extension-koni-base/src/background/handlers/Extension.ts
Labels: bug, extension

#766 [Issue 752] Adding KeyStone branding
  packages/extension-koni-ui/src/partials/AccountMenuSettings.tsx
  packages/extension-koni-ui/src/partials/Header/index.tsx
Labels: extension, integration

#762 Issue sending Bit.Country NFT and displaying BIT token
  packages/extension-koni-base/src/api/dotsama/balance.ts
  packages/extension-koni-base/src/api/predefineChainTokens.ts
  packages/extension-koni-base/src/background/handlers/Extension.ts
  packages/extension-koni-ui/src/Popup/Home/Nfts/api/paramsHandler.ts
Labels: bug, extension, integration

#771 [Issue 770] Fix number overflow on staking information
  packages/extension-koni-base/src/api/bonding/paraChain.ts
  packages/extension-koni-base/src/api/bonding/relayChain.ts
  packages/extension-koni-base/src/api/bonding/utils.ts
Labels: bug, extension

#761 [Issue 724] Fix a few bugs with staking
  packages/extension-koni-ui/src/Popup/Bonding/BondingSubmitTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/ValidatorItem.tsx
Labels: bug, extension
