Repository Koniverse/SubWallet-Extension, pull requests merged in 2022-06, with the labels that each got.

#328 Koni/dev/issue 312 314 324
  packages/extension-base/src/background/KoniTypes.ts
  packages/extension-koni-base/src/api/dotsama/balance.ts
  packages/extension-koni-base/src/api/nft/index.ts
  packages/extension-koni-base/src/background/cron.ts
  packages/extension-koni-base/src/background/handlers/Extension.ts
  packages/extension-koni-base/src/background/handlers/State.ts
  packages/extension-koni-base/src/background/subscription.ts
  packages/extension-koni-base/src/constants.ts
  packages/extension-koni-ui/src/Popup/Home/Nfts/api/transferHandler.ts
  packages/extension-koni-ui/src/Popup/Home/Nfts/transfer/AuthTransfer.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/transfer/TransferNftContainer.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/types.ts
  packages/extension-koni-ui/src/Popup/ImportToken/ImportEvmNft.tsx
  packages/extension-koni-ui/src/Popup/ImportToken/ImportEvmToken.tsx
  packages/extension-koni-ui/src/Popup/Settings/NetworkSettings/NetworkItem.tsx
  packages/extension-koni-ui/src/Popup/Settings/NetworkSettings/Networks.tsx
  packages/extension-koni-ui/src/Popup/Settings/TokenSetting/EvmTokenRow.tsx
  packages/extension-koni-ui/src/Popup/Settings/TokenSetting/EvmTokenSetting.tsx
  packages/extension-koni-ui/src/hooks/screen/setting/useFetchEvmToken.ts
  packages/extension-koni-ui/src/partials/Header/SubHeader.tsx
  packages/extension-koni-ui/src/partials/Header/index.tsx
  packages/extension-koni/src/background.ts
Labels: bug

#344 Koni/dev/issue 42: Support bonding
  packages/extension-base/src/background/KoniTypes.ts
  packages/extension-koni-base/src/api/bonding/ignore-para-bonding.spec.ts
  packages/extension-koni-base/src/api/bonding/ignore-relay-bonding.spec.ts
  packages/extension-koni-base/src/api/bonding/index.ts
  packages/extension-koni-base/src/api/bonding/utils.ts
  packages/extension-koni-base/src/api/predefinedNetworks.ts
  packages/extension-koni-base/src/api/staking/index.ts
  packages/extension-koni-base/src/background/handlers/Extension.ts
  packages/extension-koni-base/src/background/subscription.ts
  packages/extension-koni-ui/package.json
  packages/extension-koni-ui/src/Popup/Bonding/BondingNetworkSelection.tsx
  packages/extension-koni-ui/src/Popup/Bonding/BondingSubmitTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/BondingValidatorSelection.tsx
  packages/extension-koni-ui/src/Popup/Bonding/UnbondingSubmitTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/BondingAuthTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/BondingNetworkItem.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/BondingResult.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/UnbondingAuthTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/UnbondingResult.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/ValidatorItem.tsx
  packages/extension-koni-ui/src/Popup/Bonding/utils.ts
  packages/extension-koni-ui/src/Popup/Confirmation/SwitchNetworkConfirmationInfo.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/render/NftItem.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/transfer/AuthTransfer.tsx
  packages/extension-koni-ui/src/Popup/Home/Staking/EmptyList.tsx
  packages/extension-koni-ui/src/Popup/Home/Staking/StakeAuthWithdrawal.tsx
  packages/extension-koni-ui/src/Popup/Home/Staking/StakeWithdrawalResult.tsx
  packages/extension-koni-ui/src/Popup/Home/Staking/StakingContainer.tsx
  packages/extension-koni-ui/src/Popup/Home/Staking/StakingMenu.tsx
  packages/extension-koni-ui/src/Popup/Home/Staking/StakingRow.tsx
  packages/extension-koni-ui/src/Popup/index.tsx
  packages/extension-koni-ui/src/assets/ClockAfternoon.svg
  packages/extension-koni-ui/src/assets/ClockAfternoonGreen.svg
  packages/extension-koni-ui/src/assets/DotsThree.svg
  packages/extension-koni-ui/src/assets/NeutralQuestion.svg
  packages/extension-koni-ui/src/assets/trophy-green.svg
  packages/extension-koni-ui/src/components/NetworkSelection/NetworkSelection.tsx
  packages/extension-koni-ui/src/components/ReceiverInputAddress.tsx
  packages/extension-koni-ui/src/hooks/screen/bonding/useGetFreeBalance.ts
  packages/extension-koni-ui/src/hooks/screen/bonding/useGetStakingNetworks.ts
  packages/extension-koni-ui/src/hooks/screen/bonding/useIsSufficientBalance.ts
  packages/extension-koni-ui/src/hooks/screen/home/useIsAccountAll.ts
  packages/extension-koni-ui/src/messaging.ts
  packages/extension-koni-ui/src/stores/BondingParams.ts
  packages/extension-koni-ui/src/stores/UnbondingParams.ts
  packages/extension-koni-ui/src/stores/index.ts
  packages/extension-koni-ui/src/stores/types.ts
  yarn.lock
Labels: enhancement, extension

#362 Update Darwinia Endpoint
  packages/extension-koni-base/src/api/predefinedNetworks.ts
Labels: integration

#364 Update Bifrost Polkadot Parachain
  packages/extension-koni-base/src/api/predefinedNetworks.ts
  packages/extension-koni-ui/src/assets/logo/index.ts
  packages/extension-koni-ui/src/util/index.ts
Labels: integration

#376 Issue 375: Not showing crowdloan data properly
  packages/extension-koni-base/src/api/predefinedNetworks.ts
  packages/extension-koni-base/src/background/handlers/State.ts
  packages/extension-koni-ui/src/Popup/Bonding/BondingNetworkSelection.tsx
  packages/extension-koni-ui/src/Popup/Bonding/BondingSubmitTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/BondingValidatorSelection.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/BondingAuthTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/UnbondingAuthTransaction.tsx
  packages/extension-koni-ui/src/Popup/Home/Nfts/transfer/AuthTransfer.tsx
  packages/extension-koni-ui/src/Popup/Home/Staking/StakeAuthWithdrawal.tsx
  packages/extension-koni-ui/src/Popup/Settings/NetworkSettings/NetworkItem.tsx
  packages/extension-koni-ui/src/components/NetworkSelection/NetworkSelection.tsx
  packages/extension-koni-ui/src/components/NetworkSelection/NetworkSelectionItem.tsx
Labels: bug, extension

#381 Issue 375 + 380
  packages/extension-koni-ui/src/Popup/ImportToken/ImportEvmNft.tsx
  packages/extension-koni-ui/src/Popup/ImportToken/ImportEvmToken.tsx
Labels: bug, extension

#383 Issue 382: Fix bug showing incorrect withdrawal time
  packages/extension-koni-base/src/api/bonding/index.ts
Labels: bug, extension

#385 Koni/dev/issue 382 - Fix bug showing active stake and withdrawal amount
  packages/extension-koni-base/src/api/bonding/ignore-relay-bonding.spec.ts
  packages/extension-koni-base/src/api/bonding/index.ts
  packages/extension-koni-base/src/api/staking/index.ts
  packages/extension-koni-base/src/background/subscription.ts
  packages/extension-koni-ui/src/Popup/Home/Staking/StakingRow.tsx
Labels: bug, extension

#389 #386: Support staking for more chains
  .yarn/releases/yarn-3.1.1.cjs
  README.md
  packages/extension-base/src/background/KoniTypes.ts
  packages/extension-koni-base/src/api/bonding/astar.ts
  packages/extension-koni-base/src/api/bonding/darwinia.ts
  packages/extension-koni-base/src/api/bonding/ignore-astar-bonding.spec.ts
  packages/extension-koni-base/src/api/bonding/ignore-darwinia-bonding.spec.ts
  packages/extension-koni-base/src/api/bonding/ignore-para-bonding.spec.ts
  packages/extension-koni-base/src/api/bonding/ignore-relay-bonding.spec.ts
  packages/extension-koni-base/src/api/bonding/index.ts
  packages/extension-koni-base/src/api/bonding/paraChain.ts
  packages/extension-koni-base/src/api/bonding/relayChain.ts
  packages/extension-koni-base/src/api/bonding/utils.ts
  packages/extension-koni-base/src/api/dotsama/api.ts
  packages/extension-koni-base/src/api/dotsama/balance.ts
  packages/extension-koni-base/src/api/predefinedNetworks.ts
  packages/extension-koni-base/src/api/staking/index.ts
  packages/extension-koni-base/src/api/staking/subsquidStaking.ts
  packages/extension-koni-base/src/background/handlers/Extension.ts
  packages/extension-koni-base/src/background/subscription.ts
  packages/extension-koni-ui/src/Popup/Bonding/BondingSubmitTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/BondingValidatorSelection.tsx
  packages/extension-koni-ui/src/Popup/Bonding/UnbondingSubmitTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/BondDurationDropdown.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/BondingAuthTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/UnbondingAuthTransaction.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/ValidatorItem.tsx
  packages/extension-koni-ui/src/Popup/Bonding/components/ValidatorsDropdown.tsx
  packages/extension-koni-ui/src/Popup/Bonding/utils.ts
  packages/extension-koni-ui/src/Popup/Home/Staking/StakeAuthWithdrawal.tsx
  packages/extension-koni-ui/src/Popup/Home/Staking/StakingContainer.tsx
  packages/extension-koni-ui/src/Popup/Home/Staking/StakingMenu.tsx
  packages/extension-koni-ui/src/Popup/Home/Staking/StakingRow.tsx
  packages/extension-koni-ui/src/Popup/ImportToken/ImportEvmNft.tsx
  packages/extension-koni-ui/src/Popup/ImportToken/ImportEvmToken.tsx
  packages/extension-koni-ui/src/hooks/screen/bonding/useIsSufficientBalance.ts
  packages/extension-koni-ui/src/stores/UnbondingParams.ts
  packages/extension-koni-ui/src/stores/types.ts
Labels: enhancement, extension

#398 #392: Fix bug import token
  packages/extension-koni-ui/src/Popup/ImportToken/ImportEvmNft.tsx
  packages/extension-koni-ui/src/Popup/ImportToken/ImportEvmToken.tsx
Labels: bug, extension
