Repository Koniverse/SubWallet-Extension, pull requests merged in 2023-02, with the labels that each got.

#992 [Issue-991] Fix duplicate crowdloan problems
  packages/extension-koni-base/src/api/dotsama/crowdloan.ts
  packages/extension-koni-base/src/migration/scripts/RemoveWrongCrowdloan.ts
  packages/extension-koni-base/src/migration/scripts/index.ts
Labels: 2023-w05-06

#999 [Issue-963] update parsing RMRK NFTs
  packages/extension-koni-base/src/api/nft/config.ts
  packages/extension-koni-base/src/api/nft/rmrk_nft/index.ts
Labels: bug, enhancement, extension, 2023-w01-04

#998 [Issue-997] update Aleph Zero validator APR
  packages/extension-koni-base/src/api/bonding/relayChain.ts
  packages/extension-koni-base/src/api/bonding/utils.ts
Labels: bug, enhancement, extension, 2023-w05-06

#989 [Issue-984] update transfer for Equilibrium
  packages/extension-koni-base/src/api/dotsama/shared/signAndSendExtrinsic.ts
  packages/extension-koni-base/src/api/dotsama/shared/signExtrinsic.ts
  packages/extension-koni-base/src/api/dotsama/transfer.ts
  packages/extension-koni-base/src/api/predefinedNetworks.ts
Labels: enhancement, 2023-w01-04
